
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <br />
        <div class="row">
            <div class="col-md-3">
                <a (click)="changeDisplayView(displayViewEnum.Card)" [class.active]="displayView === displayViewEnum.Card">
                    <span class="glyphicon glyphicon-th-large"></span> Card View
                </a>
            </div>

            <div class="col-md-3">
                <a (click)="changeDisplayView(displayViewEnum.Grid)" [class.active]="displayView === displayViewEnum.Grid">
                    <span class="glyphicon glyphicon-align-justify"></span> List View
                </a>
            </div>

            <div class="col-md-3">
                <a class="btn btn-primary btn-sm" [routerLink]="['create']"><span class="glyphicon glyphicon-plus"></span> New Building</a>
            </div>
        </div>

        <br/>

        <app-building-card 
          [buildings]="buildings" 
          [hidden]="displayView !== displayViewEnum.Card"></app-building-card>
    
        <app-building-list 
          [buildings]="buildings" 
          [hidden]="displayView !== displayViewEnum.Grid"></app-building-list>
          

