<div class="row">
	<div class="col-md-3">
		<a class="btn btn-primary btn-sm" routerLink="overview" routerLinkActive="active">
			<span class="glyphicon glyphicon-list"></span>Building Details
		</a>
	</div>
	<div class="col-md-3">
		<a class="btn btn-success btn-sm" [routerLink]="['/buildings', building_id, 'update']" routerLinkActive="active">
			<span class="glyphicon glyphicon-tags"></span>Update
		</a>
	</div>
	<div class="col-md-3">
		<a class="btn btn-warning btn-sm" routerLink="apartments" routerLinkActive="active">
			<span class="glyphicon glyphicon-tags"></span>Building Apartments
		</a>
	</div>
	<div class="col-md-3">
		<a class="btn btn-gray btn-sm" routerLink="/" routerLinkActive="active">
			<span class="glyphicon glyphicon-tags"></span>View buildings
		</a>
	</div>
</div>
<br/>
<router-outlet></router-outlet>

