[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

djangorestframework = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-allauth = "*"
django-cors-headers = "*"
Django = "==1.11"
coreapi = "*"


[requires]

python_version = "3.6"
