<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let building of buildings;">
            <td>
                <a [routerLink]="['./buildings', building.id]">{{building.name}}</a>
            </td>
            <td>{{building.number}}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['./buildings', building.id, 'update']">Update</a>
            </td>
        </tr>
        <tr *ngIf="!buildings.length">
            <td>&nbsp;</td>
            <td colspan="3">No Records Found</td>
        </tr>
    </tbody>
</table>