<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <a class="navbar-brand" routerLink="/">LANDLORD - Manage your properties</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Buildings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/apartments" routerLinkActive="active">Apartments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tenants" routerLinkActive="active">Tenants</a>
    </li>
    <li class="nav-item float-right" (click)="loginOrOut()">
      <a routerLinkActive="active">{{loginLogoutText}}</a>
    </li>
  </ul>
</nav>