<h3>Apartment Tenants</h3>
<p>Apartment No: {{apartment.number}}</p>
<hr/>
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Is Active?</th>
            <th>Occupied At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tenant of tenants;">
            <td>{{tenant.name}}</a></td>
            <td>{{tenant.email}}</td>
            <td>{{tenant.mobile}}</td>
            <td>{{tenant.is_active}}</td>
            <td>{{tenant.created}}</td>
        </tr>
        <tr *ngIf="!tenants.length">
            <td colspan="5">No Tenants Found</td>
        </tr>
    </tbody>
</table>