<div class="row card-container">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let building of buildings;">
        <div class="card">
            <div class="card-header">
            	{{building.name}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pull-left card-body-left">
                            <a [routerLink]="['/buildings', building.id]" class="white">
                                <img src="assets/images/building.jpg" class="card-image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="pull-left">
                            <div class="card-body-content">{{building.name}}</div>
                            <div class="card-body-content">{{building.number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!buildings?.length">
        No Records Found
    </div>
</div>