<div class="row">
    <div class="col-md-6">
        <h3>Apartments</h3>
    </div>
    <div class="col-md-6">
        <a class="btn btn-sm btn-primary float-right" [routerLink]="['/apartments', 'create']">Create Apartment</a>
    </div>
</div>
<br/>
<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Is Vacant?</th>
            <th>Created</th>
            <th>Building</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let apartment of apartments;trackBy:trackByService.apartment">
            <td>{{ apartment.number }}</td>
            <td>{{ apartment.is_vacant?'Yes':'No' }}</td>
            <td>{{ apartment.created }}</td>
            <td>
                <a [routerLink]="['/buildings', apartment.building.id]">{{ apartment.building.name }}</a>
            </td>
            <td>
                <a class="btn btn-sm btn-success" [routerLink]="['/apartments', apartment.id, 'tenants']">View Tenants</a>

                <a class="btn btn-sm btn-warning" [routerLink]="['/apartments', apartment.id, 'update']">Update</a>
            </td>
        </tr>
        <tr *ngIf="!apartments">
            <td>&nbsp;</td>
            <td colspan="3">No Apartments Found</td>
        </tr>
    </tbody>
</table>